<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/nav") %>
    <div class="content 404">
      <h2>Oops, there no page found.</h2>
      <!-- Dynamic content will be rendered here. -->
    </div>
  </body>
</html>
