<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>

  <body>
    <%- include("./partials/nav") %>
    <div class="content blogs">
      <h2>Latest Blogs</h2>
      <!-- Dynamic content will be rendered here. -->
      <% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
      <h1><%= blog.title %></h1>
      <p><%= blog.description %></p>
      <% }) %> <% } else { %>
      <p>There is no blog.</p>
      <% } %>
    </div>
  </body>
</html>
